/* 
 * Copyright 2022, Liju Jayakumar. All Rights Reserved.
 */
body {
    background-color: #fafaf9;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(180deg,
            rgba(255, 255, 255, 0.01),
            rgba(255, 255, 255, 1) 85%),
        radial-gradient(ellipse at top left,
            rgba(13, 110, 253, 0.5), transparent 50%),
        radial-gradient(ellipse at top right,
            rgba(255, 228, 132, 0.5), transparent 50%),
        radial-gradient(ellipse at center right,
            rgba(112.520718, 44.062154, 249.437846, 0.5), transparent 50%),
        radial-gradient(ellipse at center left,
            rgba(214, 51, 132, 0.5), transparent 50%);
}

.fill {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
}

.buttons {
    margin-right: 45px;
}

.download-btn {
    padding: 0 !important;
    visibility: hidden;
}

.p-0 {
    padding: 0%;
}

.alert {
    visibility: hidden;
    position: fixed;
    right: 2%;
    top: 0px;
}

.title-text {
    color: #e5d7d7;
    font-size: large;
    margin-left: 15px
}

.title-version {
    color: #948989;
}

.title-disclaimer {
    /* Set the fixed height of the footer here */
    color: #948989;
}

#txtIdentifier {
    margin-left: 10px;
    width: 300px;
}

.control-title {
    margin-top: 3px;
    font-weight: bold;
}

.bg-purple {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(112.520718, 44.062154, 249.437846, 1),
            rgba(112.520718, 44.062154, 249.437846, 0.95));
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 1) !important;
}

.h6,
h6 {
    font-size: large;
}

input,
select {
    background-color: transparent;
    border: none;

}

textarea {
    background-color: transparent;
}

label {
    font-weight: normal;
}